<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404 - Nick Offerman</title>
  <link rel="shortcut icon" type="image/png" href="../img/nick-logo.gif"/>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <nav>
    <a href="./"><img src="../img/nick-logo.gif"></a>
    <ul>
      <a href="about.html"><li>About</li></a>
      <a href="gallery.html"><li>Gallery</li></a>
    </ul>
  </nav>
  <main class="main-404">
    <section>
      <h2 class="h2effect">404 - Page not found</h2>
    </section>
  </main>
  <script src="../js/main.js"></script>
</body>
</html>