<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About - Nick Offerman</title>
  <link rel="shortcut icon" type="image/png" href="../img/nick-logo.gif"/>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <nav>
    <a href="./"><img src="../img/nick-logo.gif"></a>
    <ul>
      <a href="about.html"><li>About</li></a>
      <a href="gallery.html"><li>Gallery</li></a>
    </ul>
  </nav>
  <header class="header-about">
    <h1>"I do love breakfast food, but I don't think that's extraordinary."</h1>
  </header>
  <main class="main-about">
    <section>
      <h2>About Nick</h2>
      <p>Nicholas Offerman (born June 26, 1970) is an American actor, writer, comedian, and carpenter who is known for his role as Ron Swanson in the NBC sitcom Parks and Recreation, for which he received the Television Critics Association Award for Individual Achievement in Comedy and was twice nominated for the Critics' Choice Television Award for Best Supporting Actor in a Comedy Series. Offerman is also known for his role in The Founder, in which he portrays Dick McDonald, one of the brothers who developed the fast food chain McDonald's. His first major television role since the end of Parks and Recreation was as Karl Weathers in the FX series Fargo, for which he received a Critics' Choice Television Award nomination for Best Supporting Actor in a Movie/Miniseries.</p>
      <img src="../img/nick-dance.gif">
      <p>Offerman married actress Megan Mullally on September 20, 2003.[14] They met while acting in The Berlin Circle,[15] a play produced by the Evidence Room Theatre Company, and married after dating for 18 months. While they were dating, Offerman appeared in a guest role on Mullally's sitcom, Will & Grace, in a 2001 Thanksgiving episode. He later guest starred in a different role in a 2017 episode. Mullally had a recurring role on Parks and Recreation as Ron Swanson's second former wife, Tammy 2. The couple have also appeared together in films such as The Kings of Summer and Smashed, as well as performing voice work together in Hotel Transylvania 2.

        Offerman and Mullally did a live comedy tour in 2016, the theme of which was their sex life.[16][17]
        
        On whether he is a libertarian like his character Ron Swanson, Offerman has stated, "While I admire the philosophy of the libertarian mindset, I think it's proven to be ineffectual in actual governance. So no, I'm not. I'm a free-thinking American."[18]
        
        During his time on Parks and Recreation, Offerman was able to show off his ability to play the saxophone, although he has confessed to not being able to play as well as his character, "Duke Silver", thereby suggesting that at least some of his playing may have been dubbed for broadcast. As seen on the fifth episode of Making It, Offerman also plays the trumpet.</p>
    </section>
  </main>
  <footer></footer>
  <script src="../js/main.js"></script>
</body>
</html>