<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery - Nick Offerman</title>
  <link rel="shortcut icon" type="image/png" href="../img/nick-logo.gif"/>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <nav>
    <a href="./"><img src="../img/nick-logo.gif"></a>
    <ul>
      <a href="about.html"><li>About</li></a>
      <a href="gallery.html"><li>Gallery</li></a>
    </ul>
  </nav>
  <header class="header-gallery">
    <h1>"Technically, we’re all half centaur."</h1>
  </header>
  <main class="main-gallery">
    <section>
      <h2>Nick's Gallery</h2>
      <article>
        <img src="../img/img1.jpg">
        <img src="../img/img2.jpg">
        <img src="../img/img3.jpg">
        <img src="../img/img4.jpg">
        <img src="../img/img5.jpg">
        <img src="../img/img6.jpg">
      </article>
    </section>
  </main>
  <footer></footer>
  <script src="../js/main.js"></script>
</body>
</html>