<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nick Offerman</title>
  <link rel="shortcut icon" type="image/png" href="../img/nick-logo.gif"/>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <nav>
    <img src="../img/nick-logo.gif">
    <ul>
      <a href="about.html"><li>About</li></a>
      <a href="gallery.html"><li>Gallery</li></a>
    </ul>
  </nav>
  <header>
    <h1>"Never half ass two things, whole ass one thing."</h1>
  </header>
  <main class="home">
    <section>
      <h2>Nick Offerman</h2>
    </section>
  </main>
  <footer></footer>
  <script src="../js/main.js"></script>
</body>
</html>