<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
  <nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png">
    <ul>
      <li>About</li>
      <li>Gallery</li>
    </ul>
  </nav>
  <header></header>
  <main>
    <section></section>
  </main>
  <footer></footer>
</body>
</html>